body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

a {
  text-decoration: none;
}

/* navbar */
.navbar {
  line-height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 2rem;
  margin-right: 1rem;
}

.f-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightgrey;
  height: 8rem;
  text-align: center;

  width: 100%;
}

.listing-card {
  border: none;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
  height: 20rem;
}

.card-body {
  padding: 0;
}

.card-text {
  font-weight: 400;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  background-color: wheat;
  opacity: 0.2;
}

/* new.ejs */
.add-btn {
  background-color: #fe424d;
  border: none;
}

/*Edit page */
.edit-btn {
  background-color: #fe424d;
  border: none;
}

/* Show image */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}
